* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background-color: #fdf2d8;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff7cc;
    padding: 10px 40px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
  }
  
  .logo img {
    height: 40px;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #086788;
    font-weight: bold;
  }
  
  .hero {
    background: url('beach.jpg') center center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero-text h1 {
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 4px #000;
  }
  
  .booking-section {
    background-color: #fff2d2;
    text-align: center;
    padding: 50px 20px;
  }
  
  .book-now {
    background-color: #086788;
    color: white;
    padding: 10px 25px;
    font-size: 18px;
    border: none;
    border-radius: 25px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .booking-section h2 {
    color: #086788;
    margin: 10px 0;
  }

  .booking-section p {
    color: #086788
  }
  
  .cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.card {
  position: relative;
  background: #f0c808;
  border-radius: 25px;
  padding: 2.5px;
  overflow: hidden;
  width: 200px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-img-wrapper {
  position: relative;
  width: 100%;
  height: 175px;
  border-radius: 22.5px;
  overflow: hidden;
}

.card-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 22.5px;
}

.card-img-wrapper::after {
  content: "";
  position: absolute;
  left: 0; bottom: 0;
  width: 100%; height: 100%;
  border-radius: 22.5px;
  background: linear-gradient(
    to bottom,
    rgba(0,0,0,0) 60%,
    #f0c808 100%
  );
  pointer-events: none;
}

.card img {
  width: 100%;
  height: 175px;
  object-fit: cover;
  border-radius: 22.5px;
  display: block;
}

.card-content {
  background: none;
  width: 100%;
  padding: 15px 10px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.card-content h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

.card-content p {
  font-size: 13px;
  color: #086788;
  margin-top: 5px;
}

  